<div class="div-card" *ngIf="userSetting">
  <mat-card fxLayout fyLayoutGap="20px">
    <span fxFlex="2 2 100%">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>house</mat-icon>
          <ng-container [ngSwitch]="userSetting.selected_language">
            <ng-container *ngSwitchCase="'english'">Add a new address:</ng-container>
            <ng-container *ngSwitchCase="'magyar'">Új lakcím megadása</ng-container>
          </ng-container>
        </mat-card-title>
      </mat-card-header>
      <span>
        <mat-card-content>
          <form [formGroup]="registeringNewAddress">
            <mat-form-field>
              <mat-label>
                <ng-container [ngSwitch]="userSetting.selected_language">
                  <ng-container *ngSwitchCase="'english'">City</ng-container>
                  <ng-container *ngSwitchCase="'magyar'">Város</ng-container>
                </ng-container>
              </mat-label>
              <input matInput formControlName="city" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <ng-container [ngSwitch]="userSetting.selected_language">
                  <ng-container *ngSwitchCase="'english'">Street</ng-container>
                  <ng-container *ngSwitchCase="'magyar'">Utca</ng-container>
                </ng-container>
              </mat-label>
              <input matInput formControlName="street" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <ng-container [ngSwitch]="userSetting.selected_language">
                  <ng-container *ngSwitchCase="'english'">Housenumber</ng-container>
                  <ng-container *ngSwitchCase="'magyar'">Házszám</ng-container>
                </ng-container>
              </mat-label>
              <input matInput formControlName="housenumber" required>
            </mat-form-field>
            <div>
              <button (click)="onSubmit()" mat-button>
                <ng-container [ngSwitch]="userSetting.selected_language">
                  <ng-container *ngSwitchCase="'english'">Submit</ng-container>
                  <ng-container *ngSwitchCase="'magyar'">Elküldés</ng-container>
                </ng-container>
              </button>
            </div>
          </form>
        </mat-card-content>
      </span>
    </span>
  </mat-card>
</div>
