
<div class="main_component div-flex ">
  <mat-card class="div-flex">
    <mat-card-header>
      <mat-card-header>Contact</mat-card-header>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-icon class="icon_align">badge</mat-icon>
        <span class="others_align">Udvardi Attila</span>
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        <mat-icon class="icon_align">call</mat-icon>
        <span class="others_align">+36 30 123 ** **</span>
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        <mat-icon class="icon_align">email</mat-icon>
        <span class="others_align">test@gmail.com</span>
      </p>
    </mat-card-content>
  </mat-card>

</div>
