<div class="main_component div-flex">
  <mat-card class="div-flex">
    <mat-card-header>
      <h1>
          <ng-container>
            <mat-icon>celebration</mat-icon>
            <ng-container>
            Congratulations <b>{{emailAddress}}!</b>
            </ng-container>
          </ng-container>
      </h1>
    </mat-card-header>
    <mat-card-content>
      <div>
        <span><mat-icon>how_to_reg</mat-icon>
          <ng-container>Your registration successfully finished!</ng-container>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
